# Global .gitignore file

# Python files
__pycache__
PKG-INFO
venv/

# Python stubs
*.pyi

# Code coverage
.coverage
coverage*

# Code distribution
dist/
.docker/build*

# Code profiling
*.data
*.log
*.lprof

# CI/CD
.gitlab-ci-local/

# (C)Tags
tags
.tags

# Core dump files
core

# Mesh files
*.h5
*.msh
*.vtu
*.vtk

# Other output files
*.old
*.out
*.txt
paper.*

# Other system specfic files
.DS_Store

# Build artifacts
.gmsh/build_*/*
